[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
"psycopg2" = "*"
pylint = "*"
"pep8" = "*"
"autopep8" = "*"
spacy = "*"
thinc = "==6.11.2"
djangorestframework-gis = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.7"
